<component name="ArtifactManager">
  <artifact type="war" name="springMVC-10:war">
    <output-path>$PROJECT_DIR$/springMVC-10/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springMVC-10</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springMVC-10-1.0.war">
      <element id="artifact" artifact-name="springMVC-10:war exploded" />
    </root>
  </artifact>
</component>