# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\03-JavaWeb\1-springMVC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
